p > a {
    text-decoration: none;
}

body {
    background-color: rgb(201, 218, 218);
}

h1 {
    color: rgb(25, 66, 52);
}

#reg {
    background-color: darkcyan;
}

.td {
    background-color: rgb(32, 179, 179);
}

.white {
    background-color: white;
}

input, select, textarea {
    background-color: rgb(37, 180, 133);
}