body {
    background-color: lightgoldenrodyellow;
}

h1 {
    color: rgb(38, 73, 3);
}

h3 {
    color: chocolate;
}

ol>li>a {
    color: darkorange;
}

ul>li>a {
    color: rgb(102, 146, 13);
}

ul>li {
    color: yellowgreen;
}

ol>li {
    color:darkorange
}

ol>li>a>ul>li>a> {
    color: rgb(217, 231, 20);
}
.a  {
    color: blue;
}
