body {
    background-color: #e2e1e6;
}

.main {
    padding: 20px 50px;
    background-color: #efeff1;
    margin: 40px auto;
    width: 945px;
}

.image {
    min-width: 100px;
    max-width: 300px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.white {
    background-color: white;
    display: inline-block;
    gap: 20px;
    border-radius: 3px;
}

p,h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

p {
    font-size: small;
}

.padding {
    padding: 0px 25px 0px 25px;
}


.padding-btn {
    margin: 0px 25px 20px 25px;
    width: 250px;
    height: 35px;
    border-radius: 3px;
    padding-bottom: 3px;
    border-color: transparent;
    background-color: rgb(224, 218, 241);
    color: rgb(115, 73, 233);
}

.flex {
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.border {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}